.container {
  width: 500px;
  border: 1px solid black;
  background-color: yellow;
  display: flex;
}

.item {
  border: 1px solid black;
  width: 400px;
}

.item1 {
  background: red;
}
.item2 {
  background: orange;
}
