<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="messageBeanImpl" class="com.study.sample01.MessageBeanImpl">
        <constructor-arg value="딸기"/>
        <property name="cost" value="5000"/> <!--property 에서는 필드 cost가 아닌 setCost() 메서드임 -->
        <property name="qty">
                <value>5</value>
        </property>
    </bean>
    <bean id="calcAdd" class="com.study.sample02.CalcAdd">
        <constructor-arg value="25"/>
        <constructor-arg value="36"/>
    </bean>
    <bean id="calcMul" class="com.study.sample02.CalcMul">
        <property name="x" value="25"/>
        <property name="y" value="36"/>
    </bean>

</beans>