<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:property-placeholder location="classpath:spring/db.properties"/>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <property name="maximumPoolSize" value="10" />
        <property name="connectionTimeout" value="30000" />
        <property name="minimumIdle" value="10" />
        <property name="idleTimeout" value="600000" />
    </bean>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
    destroy-method="close">
        <constructor-arg ref="hikariConfig"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
         <constructor-arg ref="dataSource"/>
    </bean>

<!--    자바 소스에서 @Transactional이 보이면 transactionManager 출동하겠다-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:spring/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/userMapper.xml"/>
    </bean>
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory"/>
    </bean>

    <bean id="springMain" class="com.study.SpringMain"/>
    <bean id="userServiceImpl" class="com.study.service.UserServiceImpl">
        <property name="userDTO" ref="userDTO"/>
        <property name="userDAO" ref="userDAOMyBatis"/>
    </bean>
    <bean id="userDTO" class="com.study.bean.UserDTO"/>
    <bean id="userDAOMyBatis" class="com.study.dao.UserDAOMyBatis">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>
</beans>
